<h1><%= @user.name %></h1>

<p>Email: <%= @user.email %></p>

<%= link_to 'Усi користувачі', users_path %>
<%= link_to 'Редагувати', edit_user_registration_path%>
<%= button_to "Видалити", @user, method: :delete %>