<h1><%= @library.name %></h1>

<img src=<%= @image %> width="300" height="400">

<p>
  <b>Year of creation:</b> <%= @library.year_of_creation %>
</p>

<h2>Books</h2>
<ul>
  <% @books.each do |book| %>
    <li><%= book.title %></li>
  <% end %>
</ul>

<h2>Library Cards user name</h2>
<ul>
  <% @library_cards.each do |library_card| %>
    <li><%= library_card.user.name %></li>
  <% end %>
</ul>
<%= link_to "Download PDF", downloader_pdf_library_path(@library) %>
<%= link_to 'Усі бібліотеки', libraries_path %>
<%= link_to 'Редагувати', edit_library_path%>
<%= button_to "Видалити", @library, method: :delete %>
