<!DOCTYPE html>
<%= stylesheet_link_tag "application" %>
<html>
  <head>
    <title>LibraryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <div class="user-info">
    <% if user_signed_in? %>
      <div class="user-email">Welcome <%= current_user.email %></div>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign-out-btn" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "sign-in-btn" %>
      <%= link_to "Sign up", new_user_registration_path, class: "sign-up-btn" %>
    <% end %>
  </div>
  <div class="header">
    <%= link_to 'Home', home_path %>
    <%= link_to 'Бібліотеки', libraries_path %>
    <%= link_to 'Автори', authors_path %>
    <%= link_to 'Жанри', genres_path %>
    <%= link_to 'Книги', books_path %>
    <%= link_to 'Користувачі', users_path %>
    <%= link_to 'Читацькі Квитки', library_cards_path %>
    <%= link_to 'Панель адміністратора', admin_root_path %>
  </div>
    <%= yield %>
  </body>
</html>
